**/node_modules
node_modules
# api/node_modules
# client/node_modules
client/.next
*/.env.example
*/.env.development

*/Dockerfile
Dockerfile
.docker-compose.yml
.dockerignore
*/README.md
README.md
.git